.blockchain_controls {
    background-color: #FFF;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    border-radius: 6.5px;
    max-width: 50%;
    margin-bottom: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

    h1 {
        text-align: center;
        margin-bottom: .5rem;
    }

    p {
        padding: .5rem 0;
    }

    button {
        background-color: #111;
        border-radius: 5px;
        padding: .5rem;
        color: #fff;
        width: 100%;
        cursor: pointer;
        border: none;
    }
}

@media only screen and (min-width: 320px) and (max-width: 1280px) {
    .blockchain_controls {
        max-width: 80%;
        font-size: 1.5vw;
        padding: 1rem;

        h1 {
            font-size: 1rem;
        }
    }
}